<section class="wrapper flex">

    	<main class="mb-auto, my-auto">
    		<div class="toumei">
				<h2 class="section-ttl">🔥キャンプグッズ販売・紹介サイト🔥</h2>
				<h4 class="section">
					キャンプグッズを販売するだけではなく<br>
					キャンプ初心者でも利用しやすく<br>
					グッズの使用方法動画もユーザー様自身で投稿できるサイト
				</h4>
			</div>
		</main>
	
	</div>
</section>